
@import "../core/reset";
.scroll-content{height:100%;}
.nav-view{
    background:#fff;
    display:flex;
    flex-wrap:wrap;
    padding:12px 0;
    
    li{
       width:33.3%;
       text-align:center;
       list-style:none;
       img{
           width:33.3%;
           height:45px;
           display:block;
           margin:0 auto;
           padding-bottom:6px;
       }
       span{
           font-size:15px;
           color:#9C9DA7;    
           font-family: "microsoft yahei";
           }
    }
}
.swiper-container{
    img{width:100%;}
    .swiper-pagination-bullet-active{background:rgb(255,108,147);}
}
.title{
    background:#fff;
    width:100%;
    font-size:24px;
    color:#5da7e0;
    line-height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    img{
        width:30px;
        height:30px;
    }
    span{
        height:30px;
    }
}





.scroll-view-top{
    width:50px;
    height:50px;
    border-radius:50px;
    background:rgba(255,255,255,0.8);
    position:fixed;
    right:6px;
    bottom:110px;
    z-index:999;
    color:#878787;
    font-size:14px;
    text-align:center;padding-top:5px;
    img{
        
        width:20px;
        height:20px;
    }
}
.goto-transition {
  transition: transform .5s ease;
}

.goto-enter {
  @include transform(translate(0, 0));
}

.goto-leave {
  @include transform(translate(-100%, 0));
}



                .head {
                    text-align: center;
                    height: 0.35rem;
                    line-height: 0.35rem;
                    &.hide {
                      display: none;
                    }
                }
                

                .head img {
                    width: 0.16rem;
                    display: inline-block;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                }

                .up {
                    transform: rotate(360deg) !important;
                    -webkit-transform: rotate(360deg) !important;
                }

                .foot {
                    text-align: center;
                    height: 0.35rem;
                    line-height: 0.35rem;
                }

                .foot img {
                    display: inline-block;
                    width: 0.16rem;
                    /*transform: rotate(0deg);*/
                    /*-webkit-transform: rotate(0deg);*/
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                }

                .down {
                    transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                }